<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sqlitefinaltask">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SQLITEFINALTASK">
        <activity
            android:name=".Teacher_Screen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Update_Student_Screen"
            android:exported="false" />
        <activity
            android:name=".Delete_Student_Screen"
            android:exported="false" />
        <activity
            android:name=".ClassScreen"
            android:exported="false" />
        <activity
            android:name=".Details_Screen"
            android:exported="false" />
        <activity
            android:name=".AddStudent_Screen"
            android:exported="false" />
        <activity
            android:name=".Get_Students_Screen"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>